* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #747a84;
}

.CTH {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.Tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.Tech-Skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.TSI {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.TST {
  color: #ffffff;
}

.Soft-Skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.Soft-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  color: black;
}

.go {
  color: #ff6b08;
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
  color: black;
}

.infa-container {
  margin-bottom: 65px;
}

.projects {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.projects-name {
  margin-top: 12px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.link:hover {
  color: #fc8a09;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.link:active {
  color: #f12106;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.projects-container {
  margin-bottom: 55px;
}

.work-experience {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.work-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 20px;
}

.organization {
  color: #ff6b08;
}

.from-to {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
  margin-top: 15px;
}

.peregorodka {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-left: 8px;
  margin-right: 8px;
}

.duties-list {
  margin-top: 15px;
}

.duties {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-left: 16px;
}

.univrcity {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ff6b08;
  margin-top: 20px;
}

.faculty {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-top: 15px;
}
